/******************* 样式重置 *****************************/
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0;
    margin:0;}
table,td,tr,th{font-size:12px;border-collapse:collapse;}
li{list-style-type:none;}
img{vertical-align:middle;border:0;}
input{border:none;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
.fB{font-weight:bold;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.lf{float:left;}
.rf{float:right;}
.re{position:relative;}
.ab{position:absolute;}
.of{overflow:hidden;}
a {color:#666; text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color:#e63436;}
a:active {color:#ba2636;}
/*盒模型*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*去margin兼容*/
*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body *:before,body *:after{
    content: "";
    display: table;
}
body *:after{
    clear:both;
}
body{
    font-family: Helvetica, Arial, "Helvetica Neue", "SimHei","Microsoft yahei", sans-serif;
    color:#333;
}
